.banner {
  display: block;
  width: 100vw;
  height: 80vh;
  position: relative;
  margin: 0;
  padding: 5px;
}

.bannerText {
  text-align: center;
  z-index: 20px;
  position: relative;
  top: 200px;
  text-decoration: white;
}